
.Header5_Header5 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(250,250,250,1.00);
}
.Header5_Header5 .background {
	position: absolute;
	left: -46px;
	top: -11px;
	width: 1637.5px;
	height: 895px;
}
.Header5_Header5 .background .cover {
	visibility: hidden;
	position: absolute;
	margin-left: 46px;
	margin-right: 151.5px;
	top: 11px;
	width: 1440px;
	height: 823px;
	object-fit: cover;
	overflow: hidden;
}
.Header5_Header5 .background .filter {
	position: absolute;
	margin-left: 46px;
	margin-right: 151.5px;
	top: 11px;
	width: 1440px;
	height: 823px;
}
.Header5_Header5 .background .Rectangle1 {
	position: absolute;
	left: 46px;
	top: 0px;
	width: 1440px;
	height: 834px;
	background: linear-gradient(180deg, rgba(40, 180, 133, 1.00) 0.0%, rgba(181, 235, 199, 1.00) 100.0%);
}
.Header5_Header5 .background .Vector1 {
	position: absolute;
	left: 0px;
	top: 152.29345703125px;
	width: 1637.5px;
	height: 742.70654296875px;
}
.Header5_Header5 .container {
	position: absolute;
	left: 23.680555555555554%;
	top: 82px;
	transform: translate(-50%, 0);
	width: 490px;
	height: 741px;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 701px;
	padding-bottom: 50px;
	box-sizing: border-box;
}
.Header5_Header5 .container .row {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1166px;
	height: 675px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Header5_Header5 .container .row .colmd4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 446px;
	height: 748px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 446px;
	height: 703px;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 107px;
	padding-left: 40px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
	border-radius: 10px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 267px;
	height: 137px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .bxscar {
	position: absolute;
	left: 96px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Plane {
	position: absolute;
	left: -51.5px;
	top: -0.5px;
	width: 172px;
	height: 58px;
	display: flex;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 25px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid rgba(40.00000141561031,180.00000447034836,133.00000727176666,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Plane .Vector {
	position: relative;
	flex: none;
	margin-right: 7px;
	width: 11.627906976744185%;
	height: 34.48275862068966%;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Plane .btntext {
	position: relative;
	flex: none;
	margin-right: 7px;
	width: 28.488372093023255%;
	height: 48.275862068965516%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,61,79,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Train {
	position: absolute;
	left: 144.5px;
	top: -0.5px;
	width: 172px;
	height: 58px;
	display: flex;
	padding-top: 15px;
	padding-right: 40px;
	padding-bottom: 15px;
	padding-left: 40px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid rgba(40.00000141561031,180.00000447034836,133.00000727176666,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Train .bxstrain {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Train .bxstrain .Vector_1 {
	position: absolute;
	left: 4px;
	top: 2px;
	width: 66.66666666666666%;
	height: 83.33333333333334%;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Train .btntext_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 25%;
	height: 48.275862068965516%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,61,79,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Car {
	position: absolute;
	left: -51.5px;
	top: 78.5px;
	width: 172px;
	height: 58px;
	display: flex;
	padding-top: 15px;
	padding-right: 40px;
	padding-bottom: 15px;
	padding-left: 40px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid rgba(40.00000141561031,180.00000447034836,133.00000727176666,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Car .Vector_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 11.627906976744185%;
	height: 31.03448275862069%;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Car .btntext_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 16.86046511627907%;
	height: 48.275862068965516%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,61,79,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Boat {
	position: absolute;
	left: 144.5px;
	top: 78.5px;
	width: 172px;
	height: 58px;
	display: flex;
	padding-top: 15px;
	padding-right: 40px;
	padding-bottom: 15px;
	padding-left: 40px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid rgba(40.00000141561031,180.00000447034836,133.00000727176666,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Boat .icrounddirectionsboatfilled {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Boat .icrounddirectionsboatfilled .Vector_3 {
	position: absolute;
	left: 2px;
	top: 1px;
	width: 83.33333333333334%;
	height: 91.66666666666666%;
}
.Header5_Header5 .container .row .colmd4 .carditem .Icons .Boat .btntext_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 23.837209302325583%;
	height: 48.275862068965516%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(44,61,79,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 366px;
	height: 421px;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	padding-bottom: 33px;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
	border-radius: 1px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 366px;
	height: 91px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup .formcontrol {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39px;
	height: 24px;
	color: rgba(37,43,66,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup .formcontrolinputstyle1 {
	position: absolute;
	margin-left: 2.5px;
	margin-right: 0.5px;
	top: 34px;
	width: 363px;
	height: 50px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup .formcontrolinputstyle1 .inputformcontrol {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 363px;
	height: 50px;
	background: rgba(249,249,249,1.00);
	border-radius: 5px;
	border: 1px solid rgba(189.12500202655792,189.12500202655792,189.12500202655792,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup .formcontrolinputstyle1 .inputformcontrol .Email {
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translate(0, -50%);
	width: 74px;
	height: 28px;
	color: rgba(115,115,115,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup_1 {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 366px;
	height: 91px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup_1 .formcontrol_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 17px;
	height: 24px;
	color: rgba(37,43,66,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup_1 .formcontrolinputstyle1_1 {
	position: absolute;
	margin-left: 2.5px;
	margin-right: 0.5px;
	top: 34px;
	width: 363px;
	height: 50px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup_1 .formcontrolinputstyle1_1 .inputformcontrol_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 363px;
	height: 50px;
	background: rgba(249,249,249,1.00);
	border-radius: 5px;
	border: 1px solid rgba(189.12500202655792,189.12500202655792,189.12500202655792,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroup_1 .formcontrolinputstyle1_1 .inputformcontrol_1 .Email_1 {
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translate(0, -50%);
	width: 74px;
	height: 28px;
	color: rgba(115,115,115,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 366px;
	height: 91px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .formcontrol_2 {
	position: absolute;
	left: 0.5px;
	top: 0px;
	width: 106px;
	height: 24px;
	color: rgba(37,43,66,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 35.5px;
	width: 366px;
	height: 57px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 366px;
	height: 50px;
	background: rgba(255,255,255,1.00);
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 366px;
	height: 50px;
	background: rgba(249,249,249,1.00);
	border-radius: 5px;
	border: 1px solid rgba(189.12500202655792,189.12500202655792,189.12500202655792,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option .Dropdown {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translate(0, -50%);
	width: 115px;
	height: 28px;
	color: rgba(115,115,115,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_1 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 79px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_1 .ListEntry1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_2 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 119px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_2 .ListEntry2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(255,166,43,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_3 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 159px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_3 .ListEntry3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_4 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 199px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_4 .ListEntry4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_5 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 239px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect .customselect .select .option_5 .ListEntry5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 366px;
	height: 86px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .formcontrol_3 {
	position: absolute;
	left: 0.5px;
	top: 0px;
	width: 185px;
	height: 24px;
	color: rgba(37,43,66,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 {
	position: absolute;
	margin-left: -0.5px;
	margin-right: 0.5px;
	top: 36px;
	width: 366px;
	height: 50px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 366px;
	height: 50px;
	background: rgba(255,255,255,1.00);
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_6 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 366px;
	height: 50px;
	background: rgba(249,249,249,1.00);
	border-radius: 5px;
	border: 1px solid rgba(189.12500202655792,189.12500202655792,189.12500202655792,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_6 .Dropdown_1 {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translate(0, -50%);
	width: 37px;
	height: 28px;
	color: rgba(115,115,115,1.00);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_7 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 79px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_7 .ListEntry1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_8 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 119px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_8 .ListEntry2_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(255,166,43,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_9 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 159px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_9 .ListEntry3_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_10 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 199px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_10 .ListEntry4_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_11 {
	visibility: hidden;
	position: absolute;
	left: 25px;
	top: 239px;
	width: 89px;
	height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .cardcontent .formgroupcustomselect_1 .customselect_1 .select_1 .option_11 .ListEntry5_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 89px;
	height: 16px;
	color: rgba(115,115,115,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}
.Header5_Header5 .container .row .colmd4 .carditem .buttonbtnprimarycolor {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	height: 58px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	padding-right: 40px;
	padding-bottom: 15px;
	padding-left: 40px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(40,180,133,1.00);
	border-radius: 5px;
}
.Header5_Header5 .container .row .colmd4 .carditem .buttonbtnprimarycolor .btntext_4 {
	position: relative;
	flex: none;
	margin-bottom: 10px;
	width: 31.420765027322407%;
	height: 48.275862068965516%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd8 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 600px;
	height: 48px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd8 .h1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 35px;
	width: 693px;
	height: 240px;
	color: rgba(37,43,66,1.00);
	font-family: Montserrat;
	font-size: 58px;
	font-weight: 800;
	line-height: 80px;
}
.Header5_Header5 .container .row .colmd8 .h4 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 35px;
	width: 539px;
	height: 60px;
	color: rgba(115,115,115,1.00);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}
.Header5_Header5 .container .row .colmd8 .cta {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 35px;
	width: 349px;
	height: 48px;
	display: flex;
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd8 .cta .buttonbtnprimarycolorbtnround {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 203px;
	height: 48px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 36px;
	padding-bottom: 10px;
	padding-left: 36px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,160,193,1.00);
	border-radius: 37px;
}
.Header5_Header5 .container .row .colmd8 .cta .buttonbtnprimarycolorbtnround .btntext_5 {
	position: relative;
	flex: none;
	margin-bottom: 10px;
	width: 64.5320197044335%;
	height: 58.333333333333336%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .container .row .colmd8 .cta .buttonbtnprimarycolorbtnoutlinebtnround {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 169px;
	height: 48px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 36px;
	padding-bottom: 10px;
	padding-left: 36px;
	box-sizing: border-box;
	align-items: center;
	border-radius: 37px;
	border: 1px solid rgba(0,160.00000566244125,193.00000369548798,1);
	box-sizing: border-box;
}
.Header5_Header5 .container .row .colmd8 .cta .buttonbtnprimarycolorbtnoutlinebtnround .btntext_6 {
	position: relative;
	flex: none;
	margin-bottom: 10px;
	width: 57.396449704142015%;
	height: 58.333333333333336%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,160,193,1.00);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
.Header5_Header5 .navbarstyle1navbarlight {
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 1440px;
	height: 59px;
	background: rgba(255,255,255,1.00);
	border-radius: 7px;
}
.Header5_Header5 .GreenTravel {
	position: absolute;
	right: 0px;
	top: 3.5844471445929527%;
	transform: translate(0, -50%);
	width: 1476px;
	height: 59px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}