.Page {
    
    background: linear-gradient(180deg, #28B485 0%, #B5EBC7 100%);
}

header {
    padding: 1px 0;
    background: #FFFFFF;
    box-shadow: 3px 2px 11px rgba(0, 0, 0, 0.091);
}

.container {
    min-height: calc(100vh - 309.4px);
}

footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 3px 2px 11px rgba(0, 0, 0, 0.091);
    margin: none;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Plane, .Train, .Car, .Boat {
    border: 1px solid #28B485;
    width: 170px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    gap: 10px;
}

.Plane:hover, .Train:hover, .Car:hover, .Boat:hover {
    border: 3px solid #28B485; 
}

.container form {
    max-width: 400px;
    margin: 70px 150px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 4px;
    background: #FFFFFF;
    box-shadow: 3px 2px 11px rgba(0, 0, 0, 0.091);
    border-radius: 10px;
}

.container form .inputs {
    padding: 5px 0 25px 0;
}

.container label {
    text-align: left;
    display: block;
    width: 366px;
    height: 91px;
}


.container input,.container placeholder {
    height: 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    background: #F9F9F9;
    padding: 6px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
    width: 366px;
    height: 58px;
    background: #28B485;
    border-radius: 5px;
    border: #28B485;
    align-items: center;
    justify-content: center;  
}

#hover:hover {
    color: #28B485;
}

button:hover {
    background: #FFFFFF;
    border: 2px solid #28B485; 
}

.calculatetext {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

h1{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 10px 0;
}

p {
    margin: 0%;
}